<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type='text/javascript' src='goalCalculator.js'></script>
    <title>Document</title>
</head>
<body>
    <form action='/dateChange' method = 'POST'>
        <label id ="setDate">
            Enter your desired completion date:
            <input id="date" onchange="remainingDays()" type="date"  min="2021-01-01" max="2031-12-31">
            <p><button onclick="">Submit</button></p>
        </label>
        <label id="outputDate" >
            <p id='output' ></p>
        </label>
    </form>
</body>
</html>